* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: rgb(137, 137, 153) 4px 5px;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: whitesmoke;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid whitesmoke;
  width: 85%;
  height: 97%;
  padding-bottom: 15px;

  h1 {
    margin: 50px auto 0;
    background: none;
  }

  .score {
    display: flex;
    margin: 15px 0 15px 27%;
    min-width: 22%;
    max-width: 50%;
    border-radius: 3px;
    padding: 10px;
    justify-content: space-around;
    font-weight: 500;
    background-color: rgba(138, 167, 236, 0.2);
    font-size: 25px;
  }

  h3 {
    margin: 0 auto 10px;
    background-color: rgba(138, 167, 236, 0.2);
    padding: 15px;
    border-radius: 3px;
  }

  .buttons {
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    gap: 15px;

    button {
      border-radius: 5px;
      border: none;
      width: 150px;
      height: 55px;
      font-size: 30px;
      background-color: #86A8E7;
      min-width: 100px;
      transition: .4s ease-out;
      box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, 0.48);
      -webkit-box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, 0.48);

      &:hover {
        transform: scale(105%);
      }

      &:active {
        transform: scale(95%);
        background-color: gray;
      }
    }
  }

  .history {
    display: flex;
    flex-direction: column;
    margin: 10px auto 15px;
    width: 485px;
    height: 90%;
    overflow: scroll;
    background: linear-gradient(rgba(231, 231, 231, 0.1), rgba(231, 231, 231, 0));

    div {
      display: flex;
      justify-content: space-between;
      color: white;
      width: 100%;
      margin: 0 auto 10px;
      background: rgba(231, 231, 231, 0.1);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.0509804);
      border-radius: 5px;
      height: 40px;
      border: none;
      padding-left: 5px;
      padding-top: 10px;
      font-size: 20px;
      font-weight: 400;

      p {
        margin-left: 10px;
      }

      span {
        margin-right: 10px;
      }
    }
  }

  .rst-btn {
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 45px;
    font-weight: 500;
    font-size: 25px;
    background-color: #D16BA5;
    min-width: 100px;
    transition: .4s ease-out;
    box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 10px 10px 27px 0 rgba(0, 0, 0, 0.48);

    &:hover {
      transform: scale(105%);
    }

    &:active {
      transform: scale(95%);
      background-color: gray;
    }
  }
}

@media only screen and (min-width: 390px) and (max-width: 767px) {
  .wrapper {
    h1 {
      font-size: 25px;
    }

    .score {
      text-align: center;
      align-items: center;
      flex-direction: column;

      &__player {
        width: 100%;
      }

      .score__computer {
        width: 200px;
      }
    }

    .buttons {
      flex-direction: column;
    }

    .history {
      width: 220px;

      div {
        width: 100%;
      }

      span {
        display: none;
      }
    }
  }
}